@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/*
    todo es css
*/

/*
    crear una clase:

    .nombreDeLaClase {
        atributo: valor;
        atribut2:valor;        
        atrx:valorx;
    }

*/

/*
Selector por etiqueta: Afecta a todos los section
*/
section {
    background-color: beige;
}
/*
Selector por ID:
*/
#secArbitros {
    /* background-color: blue; */
    /*background-color: #f23838;*/
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    font-size: 20px;  /*fijos: px |relativos*/
    font-weight: 300;    
    /* font-family: Courier, monospace; */
    font-family: 'Ubuntu', sans-serif;
    font-style: unset;
}
/*
 0 -> !important
 1 -> etiqueta : inline
 2 -> #id
 3 -> clase
*/

/* proyecto de integracion*/

h1{

  margin-bottom: .0rem;
}


.titulo {

    text-align: center;
    color:rgb(54, 38, 190);
    font-size: 40px;
    font-weight: normal;
}

.navbar-nav {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
  
  }
      nav {
        
        font-size: 1.3em; /* Cambia el tamaño de fuente a 1.2em */
        display: flex;
        justify-content: center; /* Centra horizontalmente el contenido */
       
      }
    
      nav a {
        font-size: 1.3em; /* Cambia el tamaño de fuente a 1.2em */
        
      }

      .container-fluid
{ --bs-gutter-x: 62.5rem;
}


.titulo-con-imagen {
  background-image: url("/imgs/trabajoIntegracionfondo.png");
  background-repeat: no-repeat;
  background-size: auto auto;


  text-align: center;
  font-size: 3rem; /* Cambia el tamaño de fuente según lo necesites */
  padding: 10px 0; /* Ajusta el espaciado interno según lo necesites */
}


/* botones proyecto integracion*/




:root {
    --primary-color: #3b99fd; /* Establece el valor predeterminado para la variable primary-color */
  }
  
  .btn-custom {
    background-color: var(--primary-color); /* Usa la variable primary-color para establecer el color de fondo */
    color: #fff; /* Establece el color del texto en blanco */
    border-color: var(--primary-color); /* Usa la variable primary-color para establecer el color del borde */
  }
  
  .btn-custom:hover {
    background-color: #1cf5d8; /* Establece el color de fondo al pasar el cursor sobre el botón */
    border-color: #1cf5d8; /* Establece el color del borde al pasar el cursor sobre el botón */
  }


/* botones proyecto integracion*/

/* proyecto de integracion*/